body {
    font-family: Arial, sans-serif;
}

.comments { 
    text-align: left;
    width: 400px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    color: black;
    font-weight: bolder;
    /*border: 1px solid rgba(78, 19, 179, 0.176);*/
    border-radius: 10px;
}

.comments * {
    display: block;
}

.comments label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-comentario textarea, input {
    display: block;
    color: black;
    border-radius: 5px;
    border: 2px solid rgba(78, 19, 179, 0.263); 
    background-color: rgba(229, 229, 228, 0.507);
    padding: 5px;
}

.btn-submit {
    margin-top: 25px;
    padding: 10px;  
    width: 100px;
}

#login-form *{
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-form,
#form-comentario{
    height: fit-content;
}

#form-comentario form {
    margin: 20px auto 0px auto;
    padding: 10px auto 0px auto;  
}
.date-style{
    display: inline;
    font-size: smaller;
    height: fit-content;
}

.disabled{
    display: none;
}

.comments{
    transition: all 0.5s ease;
}
.comments.disabled{
    opacity: 0;
    pointer-events: none;
}